//Partial File: About Page

@use 'variables' as *;


mark {
    color: $text-color-yellow;
    background-color: $body-color;
}

.about {
    background-color: $body-color;
    min-height: 100vh;
    margin: auto 2rem;
    padding-top: 1rem;

    p {
        color: $text-color-light;
        //text-align: center;
        line-height: $line-height;
    }
}

.popcorn-cinema {
    border-radius: 0.35rem;
}

@media (min-width: 600px) {
    .popcorn-cinema {
        display: block;
        margin: 1rem auto;
        max-width: 45%;
        max-height: 450%;

    }

    .about {
        padding-top: 2rem;

        p{
           text-align: center;
            font-size: 1.70rem;
             
        }
       
    }


    .about-content {

        // margin-left: 60rem;
        // margin-right: 60rem;
        p {
            font-size: 1.20rem;
            max-width: 80%;
            //text-align: center;
            margin: 1.5rem auto
        }
    }
}