//Partial File: About Page

@use 'variables' as *;


mark {
    color: $text-color-yellow;
    background-color: $body-color;
}

.about {
    background-color: $body-color;
    min-height: 100vh;
    margin: auto 2rem;
    padding-top: 1rem;
    
    p {
        color: $text-color-light;
        //text-align: center;
        line-height: $line-height;
    }
}

.popcorn-cinema {
    border-radius: 0.35rem;
}

@media (min-width: 600px) {
    .popcorn-cinema {
        display: block;
        margin: 1rem auto;
        width: 45%;
        height: 50vh;
        
    }

    .about {
        padding-top: 2rem;

        p{
           text-align: center;
            font-size: 1.70rem;
             
        }
       
    }

    .about-text {
        margin-top: 4rem;
    }

}