//Partial File: About Page

@use 'variables' as *;

.about {
    background-color: $body-color;
    min-height: 100vh;
    margin-top: 0;
    padding-top: 1rem;
    
    p,
    h2 {
        color: $text-color-light;
    }
}