// //Partial File: Carousel/Movie Slider for Home Page

@use 'variables' as *;

  
.home-page {
    .slider-container {
        position: relative;

        h1 {
            position: absolute;
            bottom: 10%;
            padding-left: clamp(2rem, 10vw, 7rem);
            font-size: clamp(1rem, 3vw, 6rem);
            max-width: clamp(18.75rem, 80vw, 120rem);
            text-decoration: none;
            color: white;
        }

        .slick-slider {
            .slick-list {
                img {
                    width: 100%;
                    max-height: 25rem;
                    object-fit: cover;
                    object-position: top;
                    border-bottom: .125rem solid $text-color-yellow;
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
        }
    }
}

.arrow.arrow-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
    cursor: pointer;
}

.arrow.arrow-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

@media (min-width: 50em) {
    .arrow.arrow-left {
        margin-left: 1rem;
    }

    .arrow.arrow-right {
        margin-right: 1rem;
    }
}

@media (min-width: 68.75em) {
    .home-page {
        .slider-container {
            .slick-slider {
                .slick-list {
                    img {
                        max-height: 30rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 81.25em) {
    .home-page {
        .slider-container {
            .slick-slider {
                .slick-list {
                    img {
                        max-height: 35rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 100em) {
    .home-page {
        .slider-container {
            .slick-slider {
                .slick-list {
                    img {
                       max-height: 40rem;
                    }
                }
            }
        }
    }
}

