//Partial File: Footer

@use 'variables' as *;

//problems w/ : border-top & link text color 
.footer {
    border-top-color: $text-color-yellow;
    background-color: $body-color; 
    padding-bottom: 1rem;
    border-top: 0.10rem solid $text-color-yellow; 
}

.footer-links li{
    list-style-type: none;
    
}

link {
    color: $text-color-light
}