//Partial File: Header

@use 'variables' as *;

header {
    background-color: #161616;
    border-bottom: .125rem solid $text-color-yellow;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-mini-logo {
            margin: 0.5rem 0 0.5rem 1rem;
        }

        .header-full-logo {
            display: none;
        }
    }
}

@media (min-width: 62.5em) {
    header {
        .header-container {
            .header-mini-logo {
                display: none;
            }

            .header-full-logo {
                display: block;
                margin: 1rem 0 1rem 1.5rem;
            }
        }
    }
}

.header-nav {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            width: 100%;
            display: flex;

            a {
                width: 100%;
                padding: 1.5rem;
                color: white;
                text-decoration: none;
                text-align: center;
                font-size: clamp(1.5rem, 2.5vw, 1.75rem);
                border-top: 1px solid gold;
            }
        }
    }
}

header.show nav {
    max-height: 500px;
}

.search-container {
    display: none;
}

.movieCategories .search-container {
    display: block;
    text-align: center;
    margin-top: 1rem;

    input {
        background-color: #131313;
        border: 1px solid white;
        border-radius: .3125rem;
        padding: 0.25rem 0.5rem;
        width: 14.0625rem;
    }

    button {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;

        svg {
            fill: white;
            vertical-align: middle;
        }
    }
}

.hamburger {
    all: unset;
    color: white;
    font-size: 3rem;
    margin: 1rem;
}

@media (min-width: 37.5em) {
    .movieCategories .search-container {
        input {
            width: 31.25rem;
        }
    }
}



@media (min-width: 50em) {
    header.show nav {
        max-height: none;
    }

    .header-nav {
        max-height: none;

        ul {
            flex-direction: row;

            li {
                a {
                    border-top: none;
                }

                a:hover {
                    color: red;
                }
            }
        }
    }

    .search-container {
        display: block;

        form {
            width: 25rem;
        }

        input {
            background-color: #131313;
            border: .0625rem solid white;
            border-radius: .3125rem;
            padding: .5rem .75rem;
            width: 18.75rem;
            color: white;
            margin-left: 2rem;
        }

        button {
            background: none;
            border: none;
            color: white;
            font-size: 1.5rem;

            svg {
                fill: white;
                vertical-align: middle;
            }
        }
    }

    .movieCategories .search-container {
        display: none;
    }


    .hamburger {
        display: none;
    }

    #navigation-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
}