//Partial File: Search Results Page

@use 'variables' as *;

@import 'moviecard';
@import 'moviesContainer';


.search-result {
    .search-container {
        display: block;
        text-align: center;
        margin-top: 2rem;

        input {
            background-color: #131313;
            border: 1px solid white;
            border-radius: .3125rem;
            padding: 0.25rem 0.5rem;
            width: 14.0625rem;
        }

        button {
            background: none;
            border: none;
            color: white;
            font-size: 1.5rem;

            svg {
                fill: white;
                vertical-align: middle;
            }
        }
    }

    font-size: clamp(1.25rem, 1vw, 2.5rem);

    h2 {
        padding: 1rem 2rem;
    }

    .search-value h3,
    .search-value p {
        padding: 0 2rem;
    }

    .search-value p {
        margin-bottom: 3rem;
    }

    .search-value span {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .no-movies {
        padding: 0 2rem 2rem 2rem;
        height: 47vh;
    }
}

@media (min-width: 37.5em) {
    .search-result {
        .no-movies {
            height: 55vh;
        }

        .search-container {
            input {
                width: 25rem;
            }
        }
    }
}

@media (min-width: 50em) {
    .search-result {
        .search-container {
            display: none;
        }
    }
}