//Partial File: Single Page

@use 'variables' as *;

.single-movie-page {
    background-color: $body-color;
    min-height: 100vh;
    margin-top: 0;
    padding-top: 1rem;
    
    p,
    h2{
        color: $text-color-light;
    }

    
}

.title {
    color: $text-color-light;
}