//Partial File: Variables


//Colours
$body-color: #191919;

// Text Colors
$text-color-yellow: #D4B50B;
$text-color-red: #FF0000; 
$text-color-light: white;


// Fonts
//temporary fonts: 
$body-font: Georgia, serif;
$heading-font: Tahoma, Verdana, sans-serif;
$line-height: 1.4;